@model Photo.Models.Image
<div class="col-md-4 mb-4">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">@Model.Description</h5>
            <div class="row">
                <img src="@Url.Content(Model.filePath)" style="width:100%;" />
            </div>
        </div>
    </div>
</div>
