@{
    ViewBag.Title = "Home Page";
}

@foreach (var poza in @ViewBag.images)
{
    <p>@poza.filePath</p>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">@poza.Description</h5>
                <div class="row">
                    <img src="@Url.Content(poza.filePath)" style="width:100%;" />
                </div>
            </div>
        </div>
    </div>
}