@model Photo.Models.Category
@{
    ViewBag.Title = "Adaugare Categorie";
}


<div class="row justify-content-center text-center">
    <h2>@ViewBag.Title</h2>
</div>
<div class="row justify-content-center text-center">
    <br />
    @using (Html.BeginForm(actionName: "New", controllerName: "Category"))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <br />

        @Html.TextBox("CategoryName", null, new { placeholder = "Denumire",@class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
        <br /><br />

        <button class="btn btn-primary rounded-pill" type="submit">Adauga categorie</button>
    }
</div>
