@model Photo.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}

<h2>@ViewBag.Title</h2>

<p>@Model.CategoryName</p>



    <br />
    <a class="btn btn-secondary btn-lg rounded-pill" href="/Category/Index/">Afisare lista categorii</a>

    <br />
    <hr />
    <br />

