@model Photo.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}



<h2>@Model.CategoryName</h2>



<div class="row">
    @foreach (Photo.Models.Image poza in @ViewBag.images)
    {

        @Html.Partial("PozaInfo", poza)
    }
</div>


<br />
<a class="btn btn-secondary btn-lg rounded-pill" href="/Category/Index/">Afisare lista categorii</a>

















<br />

