
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm("New", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        Select a file <input type="file" name="file" />
    </fieldset>
    @Html.TextArea("Description", null, new { @class = "form-control" })

     <input type="submit" value="Upload" />
}

